<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds">
	<springProperty scope="context" name="LOG_PATH" source="logging.path"/>
	<springProperty scope="context" name="LOG_FILE" source="logging.file"/>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<!-- 控制台设置 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>
				${LOG_PATTERN_CONSOLE:-%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(${PID:-}) %yellow([%X{token}]) %green([%thread]) %cyan(%logger{15} [%line]) : %msg%n}
			</pattern>
		</encoder>
	</appender>
	<!--输出到文件-->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${LOG_FILE}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<maxHistory>${LOG_FILE_MAX_HISTORY:-30}</maxHistory>
			<maxFileSize>${LOG_FILE_MAX_SIZE:-500MB}</maxFileSize>
			<!--<totalSizeCap>20GB</totalSizeCap>-->
		</rollingPolicy>
		<encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%level][%X{ip}:%X{port}][%X{token}][%X{org}|%X{user}][%thread|%c|%M] - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="ERROR">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root>
	<logger name="com.qianbao" level="DEBUG"/>
	<logger name="org.springframework" level="INFO"/>
	<!--&lt;!&ndash;测试环境&ndash;&gt;-->
	<!--<springProfile name="qa,test,dev">-->
		<!--<logger name="org.springframework" level="INFO"/>-->
	<!--</springProfile>-->
	<!--&lt;!&ndash; 生产环境 &ndash;&gt;-->
	<!--<springProfile name="pro">-->
		<!--<logger name="org.springframework" level="ERROR"/>-->
	<!--</springProfile>-->
</configuration>